        @charset "UTF-8";
        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            vertical-align: baseline;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }
        
        body {
            min-height: 100%;
            position: relative
        }
        
        ol,
        ul {
            list-style: none;
        }
        
        blockquote,
        q {
            quotes: none;
        }
        
        blockquote:after,
        blockquote:before,
        blockquote:after,
        blockquote:before,
        q:after,
        q:before,
        q:after,
        q:before {
            content: "";
            content: none;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        
        body {
            overflow-x: hidden;
        }
        
        section {
            overflow: hidden;
        }
        
        a {
            text-decoration: none;
        }
        
        body {
            background-color: #161520;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 100px 0;
        }
        /* ============================================= */
        .body-inner *{
            box-sizing: border-box;
            font-family: "Roboto", sans-serif;
        }
        .body-inner{
            width: 1250px;
            border-left: 3px solid #57529c;
            border-right: 3px solid #57529c;
            padding: 40px 50px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .section-with-example{
            display: flex;
            flex-direction: column;
            gap: 25px;
            width: 100%;
        }

        .section-title{
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
        }
        .section-inner{
            padding: 50px 25px;
            border: 3px solid #57529c;
            border-radius: 20px;
            min-height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .section-action-button{
            background-color: #57529c;
            padding: 10px 15px;
            border-radius: 10px;
            cursor: pointer;
            color: #fff;
            transition: 0.3s;
        }
        .section-action-button:hover{
            background-color: #fff;
            color: #161520;
        }

        .gap-20{
            gap: 20px;
        }